h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: "Montserrat";
  font-weight: 900;
  color: #fff;
}

h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
}

h3 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: gray;
}
#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

.navbar {
  padding-bottom: 4.5rem;
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.download-button {
  margin: 5% 3% 5% 3%;
}

.title-image {
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
  right: 35%;
}

#features {
  padding: 7% 14%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial section */

#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 14%;
}

/* Press Section */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  .title-image {
    transform: rotate(0);
    position: static;
  }
  #title {
    text-align: center;
  }
}

/* Call to action section */
#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

.last {
  font-family: "Montserrat";
  font-weight: 900;
  padding: 7% 18%;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

/* footer section */

#footer {
  text-align: center;
  padding: 7% 15%;
}

.social-icon {
  margin: 10px 10px;
}
